@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to this Blog.</h1>
    <p class="lead"></p>
    <tr>
        <th><li>@Html.ActionLink("Donald Trump", "Index", "Abortion")</li></th>
        <th><li>@Html.ActionLink("Apple VS FBI case", "Index", "AppleFBI")</li></th>
        <th><li>@Html.ActionLink("Hunting", "Index", "Hunting")</li></th>
        <th><li>@Html.ActionLink("UK better off outside of the EU", "Index","UkEu")</li></th>
    </tr>
</div>

